.banner{
    background: url(../../../assets/img/banner-contacto.jpg) no-repeat right top scroll;
    height:150px;
    background-size: cover;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin: 2rem 0;
}
.banner p{
    width: 60%;
    margin:10px;
    color: var(--white);
    font-weight: bolder;
    font-size: 1rem;
    text-align: center;
    text-shadow: 2px 2px 2px var(--black-rose);
    font-family: 'delius';
}
.banner h2{
    width: 60%;
    margin: 5px auto;
    font-family: 'breadley';
    color:var(--white);
    font-size: 40px;
    text-shadow: 2px 2px 2px var(--red-wine);
}

@media screen and (min-width:768px){
    .banner{
        height:220px;
        margin: 0 0 2rem 0; 
    }
    .banner p{
        font-size: 1.5rem;
    }
    .banner h2{
        margin: 10px auto;
        font-size: 50px;
    }
}
@media screen and (min-width:1024px){
    .banner{
        height:280px;
    }
    .banner p{
        font-size: 2rem;
    }
    .banner h2{
        margin: 10px auto;
        font-size: 60px;
    }
}
@media screen and (min-width:1200px){
    .banner{
        height:340px;
    }
    .banner p{
        font-size: 2.5rem;
    }
    .banner h2{
        margin: 20px auto;
        font-size: 70px;
    }
}
